<div class="wrapper">
  <div class="logo">
    <img src="assets/img/logo_white.png" alt="logo" routerLink="/" />
  </div>

  <mat-list class="nav-container">
    <a routerLink="/summary" routerLinkActive="link-active" class="link"
      ><mat-list-item
        ><mat-icon>space_dashboard</mat-icon>Summary</mat-list-item
      ></a
    >
    <a routerLink="/board" routerLinkActive="link-active" class="link"
      ><mat-list-item><mat-icon>width_normal</mat-icon>Board</mat-list-item></a
    >
    <a routerLink="/addtask" routerLinkActive="link-active" class="link"
      ><mat-list-item
        ><mat-icon>edit_square</mat-icon>Add Task</mat-list-item
      ></a
    >
    <a routerLink="/contacts" routerLinkActive="link-active" class="link"
      ><mat-list-item
        ><mat-icon>perm_contact_calendar</mat-icon>Contact</mat-list-item
      ></a
    >
  </mat-list>
  <mat-list class="nav-container-bottom">
    <a routerLink="/legalnotice" routerLinkActive="link-active" class="link">
      <mat-list-item> <mat-icon>info</mat-icon>Legal notice </mat-list-item>
    </a>
    <a routerLink="/privacy" routerLinkActive="link-active" class="link">
      <mat-list-item> <mat-icon>privacy_tip</mat-icon>Privacy </mat-list-item>
    </a>
  </mat-list>
</div>
