<mat-toolbar class="toolbar">
  <div matRipple class="center" routerLink="/">
    <mat-icon>space_dashboard</mat-icon>
    <span>Summary</span>
  </div>

  <div matRipple class="center" routerLink="/board">
    <mat-icon>width_normal</mat-icon>
    <span>Board</span>
  </div>

  <div matRipple class="center" routerLink="/addtask">
    <mat-icon>edit_square</mat-icon>
    <span>Add Task</span>
  </div>
  <div matRipple class="center" routerLink="/contacts">
    <mat-icon>perm_contact_calendar</mat-icon>
    <span>Contact</span>
  </div>
</mat-toolbar>
