<div class="password-container">
  <mat-icon (click)="dialogRef.close()">close</mat-icon>
  <div class="header">
    <h2>I forgot my password</h2>
    <mat-divider></mat-divider>
    <span
      >Don't worry! We will send you an email with the instructions to reset
      your password.</span
    >
  </div>
  <form [formGroup]="emailForm">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
      />
    </mat-form-field>
    <button mat-raised-button class="create" (click)="forgetPassword()">
      Send me the email
    </button>
  </form>
</div>
