.password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mat-icon {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    @media (max-width: 605px) {
      right: 0px;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    h2 {
      font-weight: 700;
      font-size: 47px;
      margin: 0;
      font-weight: 700;
      font-size: 47px;
      margin: 24px 0;
      @media (max-width: 605px) {
        font-size: 23px;
        margin: 15px 0;
      }
    }
    mat-divider {
      width: 150px;
      height: 2px;
      background-color: #29abe2;
      margin: 24px;
      @media (max-width: 605px) {
        margin: 15px;
      }
    }
    span {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin-bottom: 24px;
      @media (max-width: 605px) {
        margin-bottom: 15px;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    mat-form-field {
      width: 60%;
      @media (max-width: 605px) {
        width: 80%;
      }
    }
    button {
      margin-bottom: 24px;
    }
  }
}
